/* general styling */

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    background-color: #fbfbfb;
	color: black;
	text-align: left;
}

input {
	border: 1px solid #ccc;
	height: 20px;
	line-height: 20px;
}

/* instructions styling */
div.container {
	width: 100%;
	height: 100%;
}

div.listenactive:active, div.listenactive.active {
	color: white;
	text-shadow: 0 -1px 1px #46677F;
	background: -webkit-gradient(linear,left top,left bottom,from(#7BB5DB),to(#4775B8));
	background: -moz-linear-gradient(top,#7BB5DB,#4775B8);
	background: linear-gradient(top,#7BB5DB,#4775B8);
	border-bottom-color: #609FD0;
	-moz-box-shadow: inset 0 2px 2px #4775b8;
	-webkit-box-shadow: inset 0 2px 2px #4775b8;
	-moz-box-shadow: inset 0 2px 2px #4775b8;
	-webkit-box-shadow: inset 0 2px 2px #4775b8;
	box-shadow: inset 0 2px 2px #4775b8;
}

div.listenactive:active img, div.listenactive.active img, 
div.listenactive:active fieldset, div.listenactive.active fieldset {
	opacity: 0; /* important not to display:none since otherwise click handler doesn't fire on Firefox */
}

div.label {
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	text-decoration:none;
	position:absolute;
	top:14px;
	left:8px;
}

img.icon {
	position:absolute;
	top:0px;
	right:0px;
}

div.container, #list {
	display: none;
}

div#picture, div#rate {
	width:100%;
	height:100%;
	background-size:cover;
}

div.step {
	height: 50px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-family:arial;
}

div.instruction {
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	text-decoration:none;
	padding: 14px 0px;
}

div.center {
	text-align: center;
}

div.left{
	text-align: left;
}

/* ratings widget */
#rate_container .ratephoto fieldset {
	text-align: center;
	padding: 16px 0px;
}
#list_container .ratephoto fieldset {
	padding: 0px 0px 0px 8px;
}
#rate_container fieldset div {
	margin: 0px auto;
}
.ratephoto fieldset div {
	width: 7em;
	display: none;
}
.ratephoto fieldset br {
	display:none;
}
.ratephoto fieldset label {
	position:relative;
	height:1.4em;
	width:1.4em;
	overflow:hidden;
	float:left;
}
.ratephoto fieldset img {
	width:2.8em;
	height:1.4em;
	position:absolute;
	top:0;
	left:0;
}
.ratephoto fieldset .no_star img {
	left:-1.4em;
}

/* list view */
.image_wrapper {
	width: 34px;
	height: 34px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 8px 0px;
}

.image_wrapper img {
	position: absolute;
	top: 8px;
	left: 0;
	width: 34px;
}

.title {
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	text-decoration:none;
	display: inline-block;
	margin: 4px 0px 0px 8px;
	overflow: hidden;
}

#list .title {
	width: 75%;
}

#detail .title {
	width: 85%;
}

img.detail_icon {
	float: right;
	padding: 10px 8px;
}

img.detail {
	margin: 3px 0 0 0;
	width: 100%;
}

/* map view */
#map {
	width: 100%;
	height: 100%;
}

/* loading icon */
<style>
#loading {
	width: 100%;
}

#facebookG{
	width: 93px;
	margin: 0 auto;
	display: block;
}

.facebook_blockG{
background-color:#882243;
border:1px solid #FBFBFB;
float:left;
height:40px;
margin:4px 5px 0 0;
width:24px;
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.4s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.9799999999999999);
-moz-animation-name:bounceG;
-moz-animation-duration:1.4s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.9799999999999999);
-o-animation-name:bounceG;
-o-animation-duration:1.4s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.9799999999999999);
-ms-animation-name:bounceG;
-ms-animation-duration:1.4s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.9799999999999999);
opacity:0.1;
}

#blockG_1{
-webkit-animation-delay:0.41999999999999993s;
-moz-animation-delay:0.41999999999999993s;
-o-animation-delay:0.41999999999999993s;
-ms-animation-delay:0.41999999999999993s;
}

#blockG_2{
-webkit-animation-delay:0.5599999999999999s;
-moz-animation-delay:0.5599999999999999s;
-o-animation-delay:0.5599999999999999s;
-ms-animation-delay:0.5599999999999999s;
}

#blockG_3{
-webkit-animation-delay:0.7s;
-moz-animation-delay:0.7s;
-o-animation-delay:0.7s;
-ms-animation-delay:0.7s;
}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}
</style>