/* general styling */

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

span.a, #streams li {
	cursor: pointer;
}

body {
    background-color: #fbfbfb;
	color: black;
	font-family: "Helvetica Neue", "Helvetica", "Corbel", "Arial", sans-serif;
	font-size: 11pt;
	text-align: left;
}

input {
	border: 1px solid #ccc;
	height: 20px;
	line-height: 20px;
}

a, a:visited {
	color: #B00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* button styling */

div.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	border:1px solid #dcdcdc;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color:#333;
	display:inline-block;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin: 0 5px 10px 5px;
}

div.button:hover {
	background-color:#dfdfdf;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}

div.button:active {
	position:relative;
	top:1px;
}

/* instructions styling */
div.container {
	width: 100%;
	height: 100%;
}

div.listenactive:active, div.listenactive.active {
	color: white;
	text-shadow: 0 -1px 1px #46677F;
	background: -webkit-gradient(linear,left top,left bottom,from(#7BB5DB),to(#4775B8));
	background: -moz-linear-gradient(top,#7BB5DB,#4775B8);
	background: linear-gradient(top,#7BB5DB,#4775B8);
	border-bottom-color: #609FD0;
	-moz-box-shadow: inset 0 2px 2px #4775b8;
	-webkit-box-shadow: inset 0 2px 2px #4775b8;
	-moz-box-shadow: inset 0 2px 2px #4775b8;
	-webkit-box-shadow: inset 0 2px 2px #4775b8;
	box-shadow: inset 0 2px 2px #4775b8;
}

div.listenactive:active img, div.listenactive.active img {
	display:none;
}

div.label {
	position:absolute;
	top:16px;
	left:10px;
}

img.icon {
	position:absolute;
	top:3px;
	right:0px;
}

div.step {
	font-size:18px;
	font-weight:bold;
	display:inline-block;
	font-family:arial;
	text-decoration:none;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: 16px 0px;
	white-space: nowrap;
	overflow: hidden;
}

div.center {
	text-align: center;
}

div.left{
	text-align: left;
	padding-left: 10px;
}

/* ratings widget */
#ratephoto fieldset {
	text-align: center;
}
#ratephoto fieldset div {
	width: 7em;
	margin:0px auto;
}
#ratephoto fieldset br {
	display:none;
}
#ratephoto fieldset label {
	position:relative;
	height:1.4em;
	width:1.4em;
	overflow:hidden;
	float:left;
}
#ratephoto fieldset img {
	width:2.8em;
	height:1.4em;
	position:absolute;
	top:0;
	left:0;
}
#ratephoto fieldset .no_star img {
	left:-1.4em;
}
#ratephoto fieldset {
	margin:0px auto;
}